 
  
.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .fira-sans-extralight {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .fira-sans-light {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .fira-sans-medium {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .fira-sans-semibold {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .fira-sans-extrabold {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .fira-sans-black {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .fira-sans-thin-italic {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .fira-sans-extralight-italic {
    font-family: "Fira Sans", serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .fira-sans-light-italic {
    font-family: "Fira Sans", serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .fira-sans-regular-italic {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .fira-sans-medium-italic {
    font-family: "Fira Sans", serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .fira-sans-semibold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .fira-sans-bold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .fira-sans-extrabold-italic {
    font-family: "Fira Sans", serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .fira-sans-black-italic {
    font-family: "Fira Sans", serif;
    font-weight: 900;
    font-style: italic;
  }
  
  .colour{
    background-color: #F1F1F3;
    padding-bottom: 60px;
     
  }
      /* header */

  header{
     
    margin: 0 auto;
    /* margin: 0px 130px 0px 130px; */
    margin: 0px 104px 0px 104px;
  }

  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
  }
  .nav-title{
    font-weight: bold;
    font-size: 25px;    
      /* 32px; */
  }
  .sign-in{
             
 text-decoration: none;
 font-size:14px;
  /* 18px; */
 color: #006A50;
  }
  .sign-in-btn{
    color: white;
     border-radius:6px;
      /* 8px; */
     
     font-weight: 600;
     font-size: 14px;
     /* 18px; */
     padding: 12px 24px;
     /* 15px 30px; */
     border: 1px solid #006A50;
  }

  .banner{
    display: flex;
    justify-content: space-between;
    
    
     padding: 80px 100px;
     
    border-radius: 19px;
    /* 24px; */
    background-color: #C6E4D6;
    
  }
 
  .banner-title{
    font-size:19px;
     /* 24px; */
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5)
  }

  .banner-heading{
    color: #0E0E0E;
    font-weight: 700;
    font-size:42px;
     /* 56px; */
     
  }

  .banner-button{
   color: #FFFFFF;
   font-size: 14px;
   /* 18px; */
   font-weight: 600;
   padding:13px 27px;
    /* 17px 34px; */
   background-color: #006A50;
   border-radius:6px;
    /* 8px; */
  }
  .banner-photo{
    padding-left: 80px;
    /* 100px; */
  }

  /* main */
  main{
    margin: 0 auto;
    /* margin: 100px 130px 0px 130px; */
    margin:80px 104px 0px 104px ;
  }
  .chartar-parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .common-header{
    font-weight: 700;
    font-size: 32px;
    /* 40px; */
    color: #0E0E0E;
  }

  .common-header2{
    color: #0E0E0E;
    font-size: 16px;
    /* 20px; */
    font-weight: 700;
  }
  .common-p{
    color: rgba(14, 14, 14, 0.7);
    font-size: 12px;
    /* 16px; */
    font-weight: 400;
  }
  .charter-ekektar-parent{
    
    background-color: #FFFFFF;
    border-radius: 12px;
    /* 16px; */
    padding: 19px 19px;
    /* 24px 24px; */
    
  }
  .learn-more{
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    padding: 8px 16px;
    /* 11px 20px; */
    border-radius: 6px;
    
    /* 8px; */
  }

  .nil{
        background-color: #5490F5;
  }
.shobuj{
           background-color: #09A15C;
}

.holud{
           background-color: #FFC239;
}

.akashi{
        
       background-color: rgba(84, 144, 245, 0.2);
}

.halka-shobuj{
     background-color: #C6E4D6;
}

.halka-holud{
        background-color: #F7EBCF;
}
.common-p-er-moto{
    color: rgba(14, 14, 14, 0.8);
    font-size:12px; 
    /* 16px; */
    font-weight: 400;
}

.yunus{
  color: rgba(14, 14, 14, 0.8);
  font-size: 16px;
  /* 20px; */
  font-weight: 600;

}
.yunus-er-pore{
    color:  rgba(14, 14, 14, 0.6);
    font-size:12px;
     /* 16px; */
    font-weight: 400;
}

.lorem{
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding:38px 19px;
     /* 48px 24px; */
    border-radius: 12px;
    /* 16px; */
    margin-top: 25px;
    /* 32px; */
    background-image: url("./assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position:20px 20px; 
    /* 25px 35px; */
    
}
/* opinion section */
.opinion{
margin-top:64px;
 /* 80px; */
}

td, th{
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 19px 19px;
    /* 24px 24px; */
}

.second-td{
    text-align: right;
    
}
th{
    font-size: 16px;
    /* 20px; */
    font-weight: 600;
   color:  rgba(14, 14, 14, 1);
}
select{
    background-color: rgba(198, 228, 214, 1);
    color: rgba(14, 14, 14, 1);
    font-weight: 500;
    font-size:12px;
     /* 16px; */
    padding: 8px 11px;
    /* 10px 14px; */
    margin-left:16px; 
    /* 20px; */
    border-radius:3px;
     /* 4px; */
}
 
thead{
    background-color: rgba(198, 228, 214, 1);
}
table{
    border-collapse: collapse;
    margin: 0 auto;
    width: 972px;
    /* 1216px; */
}
.one{
text-align: left;
border-right: none;
}
.two{
  text-align: right;
  border-left: none;
}

.question{
    font-size: 12px;
    /* 16px; */
    font-weight: 600;
    color: rgba(14, 14, 14, 1);
}
.tab{
    background-color: rgba(255, 255, 255, 1);
    padding: 25px 25px;
    /* 32px 32px; */
    border-radius: 12px;
    /* 16px; */
   
}

/* recent news */
.rescent-news{
    margin-top:64px;
     /* 80px; */
}
.sattelite{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 38px,38px;
    /* 48px 48px; */
   background-color:  rgba(255, 255, 255, 1);
   border-radius: 19px;
   /* 24px; */
   margin-bottom: 19px;
   /* 24px; */
}
.sattelite-description{
     text-align: left;
}

.sattelite-image{
    border-radius: 19px;
    /* 24px; */
     
    margin-top: 20px;
    margin-bottom: 20px;
     
   
}
.read-more{
   background-color:  rgba(0, 106, 80, 1);
   padding:10px 20px;
    /* 13px 26px; */
   border-radius: 6px;
   /* 8px; */
   color: rgba(255, 255, 255, 1);
   font-size: 14px;
   /* 18px; */
   font-weight: 600;
   margin-top: 80px;
    
}

/* donetion */

.donation{
    text-align: center;
    margin-top: 64px;
    /* 80px; */
}
.donate-taka{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
    /* 32px; */
   
    
}

.taka{
    color: rgba(14, 14, 14, 0.8);
    font-size:32px;
     /* 40px; */
    font-weight: 700;
    background-color: rgba(255, 255, 255, 1);
    padding: 32px 32px;
    /* 40px 40px; */
    border-radius: 12px;
    /* 16px; */
}
.extra{
    background-color: rgba(198, 228, 214, 1);
}

.other-amount{
    width: 760px;
    /* 1200px; */
    height:52px;
     /* 64px; */
    padding: 16px 32px;
    /* 20px 40px; */
      background-color: rgba(255, 255, 255, 1);
      text-align: center;
      margin: 0 auto;
      margin-top:25px;
       /* 32px; */
    
}
.other-amount-1{
    font-size: 16px;
    /* 20px; */
    font-weight: 400;
    color: rgba(14, 14, 14, 0.3);

}

.done-button{
    font-size: 14px;
    /* 18px; */
    font-weight: 600;
    color:  rgba(255, 255, 255, 1);
    background-color: rgba(0, 106, 80, 1);
    padding: 13px 27px;
    /* 17px 34px; */
    border-radius: 6px;
    /* 8px; */
   
   

}
.done-buttonp{
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
    /* 32px; */
    
}

.last-section{
    text-align: center;
    background-color: rgba(198, 228, 214, 1);
    border-radius: 19px;
    /* 24px; */
    padding:64px 80px;
     /* 80px 100px; */
    margin-top:64px;
     /* 80px; */

}
.subscribe{
    padding: 13px 27px;
    /* 17px 34px; */
    background-color: rgba(0, 106, 80, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 14px;
    /* 18px; */
    font-weight: 600;
    border-top-right-radius:6px;
     /* 8px; */
    border-bottom-right-radius: 6px;
    /* 8px; */
}
.emai{
    background-color: rgba(255, 255, 255, 1);
    padding: 14px 32px;
    /* 18px 40px; */
    font-size:12px;
     /* 16px; */
    color: rgba(14, 14, 14, 0.3);
    font-weight: 400;
    width: 480px;
    /* 600px; */
    text-align: left;
    border-top-left-radius: 6px;
    /* 8px; */
    border-bottom-left-radius:6px;
     /* 8px; */
}
.emailp{
    display: flex;
    justify-content: center;
    margin-bottom: 19px;
    /* 24px; */
}
footer{
    margin: 0 auto;

    margin-top:40px;
     /* 50px; */
    
}
.foot{
    text-align: center;
   width: 896px;
   /* 1120px; */
    
    margin: 0 auto;
 
    
}
.bor{
    border-bottom:1px solid rgba(14, 14, 14, 0.1);
    padding-bottom: 25px;
    /* 32px; */
 
}
.foot-images{
    text-align: center;  

}

.insta{
    /* margin: 32px 23px 50px 23px; */
    margin: 25px 18px 40px 18px;
}
 input{
    border: none;
     padding-top: 15px;
     padding-left: 30px;
       
 }
 .inpu-area{
    width:900px;
 }
 .hover-button:hover {
    background-color:green  
  }



  